# 1.find the 20 most popular movies with a rank more than 8.0

In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv("/Users/pemawangmo/Desktop/DS_Notes/DADV/assignments/IMDB/data/titleRatings.tsv", delimiter = '\t')

In [3]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1668
1  tt0000002            6.1       207
2  tt0000003            6.5      1389
3  tt0000004            6.2       123
4  tt0000005            6.2      2177

In [4]:
basics_movie = pd.read_csv("/Users/pemawangmo/Desktop/DS_Notes/DADV/assignments/IMDB/data/titleBasics.tsv", delimiter = '\t')

/Users/pemawangmo/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
basics_movie.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [6]:
rating_above_eight = ratings[ratings['averageRating'] > 8.0]
rating_above_eight

            tconst  averageRating  numVotes
273      tt0000361            8.1        10
298      tt0000417            8.2     43703
338      tt0000505            8.1        11
606      tt0000961            8.2        13
686      tt0001089            8.3        19
...            ...            ...       ...
1104882  tt9916316            8.4         5
1104883  tt9916348            9.3        13
1104885  tt9916380            9.2       104
1104888  tt9916538            8.4         5
1104891  tt9916578            8.2        24

[212946 rows x 3 columns]

In [7]:
sorted_Votes = rating_above_eight.sort_values('numVotes', ascending = False).head(20)
sorted_Votes

           tconst  averageRating  numVotes
81761   tt0111161            9.3   2320892
245919  tt0468569            9.0   2282922
580075  tt1375666            8.8   2046291
98025   tt0137523            8.8   1838412
81545   tt0110912            8.9   1810499
80672   tt0109830            8.8   1790028
423327  tt0944947            9.3   1742075
95948   tt0133093            8.7   1660895
89531   tt0120737            8.8   1645568
112822  tt0167260            8.9   1629102
45687   tt0068646            9.2   1602894
572988  tt1345836            8.4   1504313
387337  tt0816692            8.6   1491198
112823  tt0167261            8.7   1472768
413477  tt0903747            9.5   1433953
84313   tt0114369            8.6   1430537
664525  tt1853728            8.4   1343772
115241  tt0172495            8.5   1330015
206250  tt0372784            8.2   1298154
74980   tt0102926            8.6   1258769

In [8]:
merged_output = pd.merge(sorted_Votes, basics_movie, on= 'tconst')
merged_output

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0111161,9.3,2320892,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama
1,tt0468569,9.0,2282922,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama"
2,tt1375666,8.8,2046291,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi"
3,tt0137523,8.8,1838412,movie,Fight Club,Fight Club,0,1999,\N,139,Drama
4,tt0110912,8.9,1810499,movie,Pulp Fiction,Pulp Fiction,0,1994,\N,154,"Crime,Drama"
5,tt0109830,8.8,1790028,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance"
6,tt0944947,9.3,1742075,tvSeries,Game of Thrones,Game of Thrones,0,2011,2019,57,"Action,Adventure,Drama"
7,tt0133093,8.7,1660895,movie,The Matrix,The Matrix,0,1999,\N,136,"Action,Sci-Fi"
8,tt0120737,8.8,1645568,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,\N,178,"Action,Adventure,Drama"
9,tt0167260,8.9,1629102,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003,\N,201,"Action,Adventure,Drama"
10,tt0068646,9.2,1602894,movie,The Godfather,The Godfather,0,1972,\N,175,"Crime,Drama"
11,tt1345836,8.4,1504313,movie,The Dark Knight Rises,The Dark Knight Rises,0,2012,\N,164,"Action,Adventure"
12,tt0816692,8.6,1491198,movie,Interstellar,Interstellar,0,2014,\N,169,"Adventure,Drama,Sci-Fi"
13,tt0167261,8.7,1472768,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002,\N,179,"Action,Adventure,Drama"
14,tt0903747,9.5,1433953,tvSeries,Breaking Bad,Breaking Bad,0,2008,2013,49,"Crime,Drama,Thriller"
15,tt0114369,8.6,1430537,movie,Se7en,Se7en,0,1995,\N,127,"Crime,Drama,Mystery"
16,tt1853728,8.4,1343772,movie,Django Unchained,Django Unchained,0,2012,\N,165,"Drama,Western"
17,tt0172495,8.5,1330015,movie,Gladiator,Gladiator,0,2000,\N,155,"Action,Adventure,Drama"
18,tt0372784,8.2,1298154,movie,Batman Begins,Batman Begins,0,2005,\N,140,"Action,Adventure"
19,tt0102926,8.6,1258769,movie,The Silence of the Lambs,The Silence of the Lambs,0,1991,\N,118,"Crime,Drama,Thriller"

In [9]:
movies_type = merged_output.loc[merged_output['titleType'] == 'movie']

In [10]:
title = movies_type[['originalTitle','averageRating' ]].head(20)
title

                                        originalTitle  averageRating
0                            The Shawshank Redemption            9.3
1                                     The Dark Knight            9.0
2                                           Inception            8.8
3                                          Fight Club            8.8
4                                        Pulp Fiction            8.9
5                                        Forrest Gump            8.8
7                                          The Matrix            8.7
8   The Lord of the Rings: The Fellowship of the Ring            8.8
9       The Lord of the Rings: The Return of the King            8.9
10                                      The Godfather            9.2
11                              The Dark Knight Rises            8.4
12                                       Interstellar            8.6
13              The Lord of the Rings: The Two Towers            8.7
15                                              Se7en            8.6
16                                   Django Unchained            8.4
17                                          Gladiator            8.5
18                                      Batman Begins            8.2
19                           The Silence of the Lambs            8.6

In [11]:
title.sort_values('averageRating', ascending = False)

                                        originalTitle  averageRating
0                            The Shawshank Redemption            9.3
10                                      The Godfather            9.2
1                                     The Dark Knight            9.0
4                                        Pulp Fiction            8.9
9       The Lord of the Rings: The Return of the King            8.9
2                                           Inception            8.8
3                                          Fight Club            8.8
5                                        Forrest Gump            8.8
8   The Lord of the Rings: The Fellowship of the Ring            8.8
7                                          The Matrix            8.7
13              The Lord of the Rings: The Two Towers            8.7
12                                       Interstellar            8.6
15                                              Se7en            8.6
19                           The Silence of the Lambs            8.6
17                                          Gladiator            8.5
11                              The Dark Knight Rises            8.4
16                                   Django Unchained            8.4
18                                      Batman Begins            8.2

In [12]:
title.to_csv('/Users/pemawangmo/Desktop/DS_Notes/DADV/assignments/IMDB/popular_movies.csv' )

# 2.	find the 20 best rated movies with over 40,000 votes in the 2000s (year >= 2000)

In [11]:
type(basics_movie)

pandas.core.frame.DataFrame

In [12]:
basics_movie.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult            int64
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [13]:
basics_movie['startYear'] = pd.to_numeric(basics_movie['startYear'], errors='coerce')

In [14]:
basics_movie.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear         float64
endYear            object
runtimeMinutes     object
genres             object
dtype: object

In [15]:
year = basics_movie[basics_movie.startYear >= 2000]
year

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13421,tt0013620,short,Sol y sombra,Sol y sombra,0,2020.0,\N,40,"Drama,Short"
15184,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,\N,60,\N
16662,tt0016906,movie,Frivolinas,Frivolinas,0,2014.0,\N,80,"Comedy,Musical"
18037,tt0018295,short,El puño de hierro,El puño de hierro,0,2004.0,\N,40,"Action,Drama,Short"
19706,tt0019996,movie,Hongxia,Hongxia,0,2011.0,\N,94,\N
...,...,...,...,...,...,...,...,...,...
7451439,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010.0,\N,\N,"Action,Drama,Family"
7451440,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010.0,\N,\N,"Action,Drama,Family"
7451441,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010.0,\N,\N,"Action,Drama,Family"
7451442,tt9916856,short,The Wind,The Wind,0,2015.0,\N,27,Short
7451443,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014.0,\N,10,"Animation,Comedy,Family"

In [16]:
year_rating_merged = pd.merge(year, ratings, on= 'tconst')
year_rating_merged

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0013620,short,Sol y sombra,Sol y sombra,0,2020.0,\N,40,"Drama,Short",5.6,34
1,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,\N,60,\N,5.4,11
2,tt0016906,movie,Frivolinas,Frivolinas,0,2014.0,\N,80,"Comedy,Musical",5.6,15
3,tt0018295,short,El puño de hierro,El puño de hierro,0,2004.0,\N,40,"Action,Drama,Short",6.7,30
4,tt0019996,movie,Hongxia,Hongxia,0,2011.0,\N,94,\N,6.3,52
...,...,...,...,...,...,...,...,...,...,...,...
737997,tt9916580,tvEpisode,Horrid Henry Horrid Boy?,Horrid Henry Horrid Boy?,0,2012.0,\N,10,"Animation,Comedy,Family",7.2,5
737998,tt9916690,tvEpisode,Horrid Henry Delivers the Milk,Horrid Henry Delivers the Milk,0,2012.0,\N,\N,"Animation,Comedy,Family",6.6,5
737999,tt9916720,short,The Nun 2,The Nun 2,0,2019.0,\N,10,"Comedy,Horror,Mystery",6.1,68
738000,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019.0,\N,43,"Family,Reality-TV",6.9,15
738001,tt9916778,tvEpisode,Escape,Escape,0,2019.0,\N,\N,Drama,7.4,25

In [17]:
num_votes = year_rating_merged[year_rating_merged.numVotes > 40000]
num_votes

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
5,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance",6.4,78627
55,tt0118694,movie,In the Mood for Love,Fa yeung nin wah,0,2000.0,\N,98,"Drama,Romance",8.1,122684
87,tt0120630,movie,Chicken Run,Chicken Run,0,2000.0,\N,84,"Adventure,Animation,Comedy",7.0,176088
88,tt0120667,movie,Fantastic Four,Fantastic Four,0,2005.0,\N,106,"Action,Adventure,Fantasy",5.7,310327
90,tt0120679,movie,Frida,Frida,0,2002.0,\N,123,"Biography,Drama,Romance",7.4,80886
...,...,...,...,...,...,...,...,...,...,...,...
727301,tt9484998,movie,Palm Springs,Palm Springs,0,2020.0,\N,90,"Comedy,Fantasy,Mystery",7.4,62287
727503,tt9495224,tvMovie,Black Mirror: Bandersnatch,Black Mirror: Bandersnatch,0,2018.0,\N,90,"Drama,Mystery,Sci-Fi",7.2,112247
728899,tt9561862,tvSeries,"Love, Death & Robots","Love, Death & Robots",0,2019.0,\N,15,"Animation,Comedy,Fantasy",8.5,93676
730193,tt9612516,tvSeries,Space Force,Space Force,0,2020.0,\N,30,Comedy,6.8,43225
735411,tt9815454,tvMiniSeries,Unorthodox,Unorthodox,0,2020.0,2020,213,Drama,8.0,51612

In [18]:
sorted_rates = num_votes.sort_values('averageRating', ascending = False)
sorted_rates

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
382865,tt2301451,tvEpisode,Ozymandias,Ozymandias,0,2013.0,\N,48,"Crime,Drama,Thriller",10.0,124652
382867,tt2301455,tvEpisode,Felina,Felina,0,2013.0,\N,55,"Crime,Drama,Thriller",9.9,87617
482213,tt3866850,tvEpisode,Hardhome,Hardhome,0,2015.0,\N,61,"Action,Adventure,Drama",9.9,89466
369026,tt2178784,tvEpisode,The Rains of Castamere,The Rains of Castamere,0,2013.0,\N,51,"Action,Adventure,Drama",9.9,89914
305766,tt1683088,tvEpisode,Face Off,Face Off,0,2011.0,\N,51,"Crime,Drama,Thriller",9.9,43085
...,...,...,...,...,...,...,...,...,...,...,...
24783,tt0362165,movie,Son of the Mask,Son of the Mask,0,2005.0,\N,94,"Comedy,Family,Fantasy",2.2,52262
215868,tt1213644,movie,Disaster Movie,Disaster Movie,0,2008.0,\N,87,"Comedy,Family,Sci-Fi",1.9,86846
308603,tt1702443,movie,Justin Bieber: Never Say Never,Justin Bieber: Never Say Never,0,2011.0,\N,105,"Documentary,Music",1.6,75067
591830,tt5988370,movie,Reis,Reis,0,2017.0,\N,108,"Biography,Drama",1.4,72280
674262,tt7886848,movie,Sadak 2,Sadak 2,0,2020.0,\N,133,"Action,Drama",1.1,61388

In [19]:
only_movies = sorted_rates.loc[sorted_rates['titleType'] == 'movie'].head(20)
only_movies

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
407955,tt2592910,movie,CM101MMXI Fundamentals,CM101MMXI Fundamentals,0,2013.0,\N,139,"Comedy,Documentary",9.2,43774
54734,tt0468569,movie,The Dark Knight,The Dark Knight,0,2008.0,\N,152,"Action,Crime,Drama",9.0,2282922
465,tt0167260,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003.0,\N,201,"Action,Adventure,Drama",8.9,1629102
582496,tt5813916,movie,The Mountain II,Dag II,0,2016.0,\N,135,"Action,Drama,War",8.8,104661
259120,tt1375666,movie,Inception,Inception,0,2010.0,\N,148,"Action,Adventure,Sci-Fi",8.8,2046291
94,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001.0,\N,178,"Action,Adventure,Drama",8.8,1645568
143360,tt10189514,movie,Soorarai Pottru,Soorarai Pottru,0,2020.0,\N,153,Drama,8.7,51064
466,tt0167261,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002.0,\N,179,"Action,Adventure,Drama",8.7,1472768
104872,tt0816692,movie,Interstellar,Interstellar,0,2014.0,\N,169,"Adventure,Drama,Sci-Fi",8.6,1491198
3704,tt0245429,movie,Spirited Away,Sen to Chihiro no kamikakushi,0,2001.0,\N,125,"Adventure,Animation,Family",8.6,642880
696142,tt8503618,movie,Hamilton,Hamilton,0,2020.0,\N,160,"Biography,Drama,History",8.6,49950
628368,tt6751668,movie,Parasite,Gisaengchung,0,2019.0,\N,132,"Comedy,Drama,Thriller",8.6,523791
16513,tt0317248,movie,City of God,Cidade de Deus,0,2002.0,\N,130,"Crime,Drama",8.6,694838
37038,tt0407887,movie,The Departed,The Departed,0,2006.0,\N,151,"Crime,Drama,Thriller",8.5,1179166
59192,tt0482571,movie,The Prestige,The Prestige,0,2006.0,\N,130,"Drama,Mystery,Sci-Fi",8.5,1178601
304797,tt1675434,movie,The Intouchables,Intouchables,0,2011.0,\N,112,"Biography,Comedy,Drama",8.5,750976
525,tt0172495,movie,Gladiator,Gladiator,0,2000.0,\N,155,"Action,Adventure,Drama",8.5,1330015
4593,tt0253474,movie,The Pianist,The Pianist,0,2002.0,\N,150,"Biography,Drama,Music",8.5,722299
651490,tt7286456,movie,Joker,Joker,0,2019.0,\N,122,"Crime,Drama,Thriller",8.5,912928
407441,tt2582802,movie,Whiplash,Whiplash,0,2014.0,\N,106,"Drama,Music",8.5,708169

In [20]:
best_movies= only_movies[['originalTitle','numVotes', 'startYear','averageRating' ]].head(20)
best_movies

,originalTitle,numVotes,startYear,averageRating
407955,CM101MMXI Fundamentals,43774,2013.0,9.2
54734,The Dark Knight,2282922,2008.0,9.0
465,The Lord of the Rings: The Return of the King,1629102,2003.0,8.9
582496,Dag II,104661,2016.0,8.8
259120,Inception,2046291,2010.0,8.8
94,The Lord of the Rings: The Fellowship of the Ring,1645568,2001.0,8.8
143360,Soorarai Pottru,51064,2020.0,8.7
466,The Lord of the Rings: The Two Towers,1472768,2002.0,8.7
104872,Interstellar,1491198,2014.0,8.6
3704,Sen to Chihiro no kamikakushi,642880,2001.0,8.6
696142,Hamilton,49950,2020.0,8.6
628368,Gisaengchung,523791,2019.0,8.6
16513,Cidade de Deus,694838,2002.0,8.6
37038,The Departed,1179166,2006.0,8.5
59192,The Prestige,1178601,2006.0,8.5
304797,Intouchables,750976,2011.0,8.5
525,Gladiator,1330015,2000.0,8.5
4593,The Pianist,722299,2002.0,8.5
651490,Joker,912928,2019.0,8.5
407441,Whiplash,708169,2014.0,8.5

In [21]:
best_movies.sort_values('numVotes', ascending=False)

,originalTitle,numVotes,startYear,averageRating
54734,The Dark Knight,2282922,2008.0,9.0
259120,Inception,2046291,2010.0,8.8
94,The Lord of the Rings: The Fellowship of the Ring,1645568,2001.0,8.8
465,The Lord of the Rings: The Return of the King,1629102,2003.0,8.9
104872,Interstellar,1491198,2014.0,8.6
466,The Lord of the Rings: The Two Towers,1472768,2002.0,8.7
525,Gladiator,1330015,2000.0,8.5
37038,The Departed,1179166,2006.0,8.5
59192,The Prestige,1178601,2006.0,8.5
651490,Joker,912928,2019.0,8.5
304797,Intouchables,750976,2011.0,8.5
4593,The Pianist,722299,2002.0,8.5
407441,Whiplash,708169,2014.0,8.5
16513,Cidade de Deus,694838,2002.0,8.6
3704,Sen to Chihiro no kamikakushi,642880,2001.0,8.6
628368,Gisaengchung,523791,2019.0,8.6
582496,Dag II,104661,2016.0,8.8
143360,Soorarai Pottru,51064,2020.0,8.7
696142,Hamilton,49950,2020.0,8.6
407955,CM101MMXI Fundamentals,43774,2013.0,9.2

In [22]:
best_movies.to_csv('/Users/pemawangmo/Desktop/DS_Notes/DADV/assignments/IMDB/movie_highvotes.csv')